[flake8]
max-line-length = 100
max-complexity = 18
ignore =
    # whitespace before ‘:’, conflict with black
    E203,
    # Comments with multiple ##
    E266,
    # ‘from module import *’ used; unable to detect undefined names
    F403,
    # name may be undefined, or defined from star imports: module
    F405,
    # Don't forbid line breaks after binary operators. They are preferred according to  PEP8
    W504,
    # Trailing whitespace. Often appears in multiline strings in tests
    W291
select = B,C,E,F,W,T4,B9
docstring-convention = google
# F401: module imported but unused
per-file-ignores =
    __init__.py:F401
exclude =
    .git,
    __pycache__,
    setup.py,
    build,
    dist,
    releases,
    .venv,
    .tox,
    .mypy_cache,
    .pytest_cache,
    .vscode,
    .github,
    tests,
    local
